{% extends "base.html" %}
{% load static %}
{% block content %}
<h1>Atenciones</h1>
<button type="button">
    <a href="{% url 'formulario' %}">Agregar</a>
</button>

<section>
    {% for atencion in atencion %}
    <div>
        <h3>{{ atencion.titulo }}</h3>
        <p>Diagnóstico: {{ atencion.diagnostico }}</p>
        <p>Categoría: {{ atencion.categoria }}</p>
        <p>Modelo: {{ atencion.modelo }}</p>
        <p>Año: {{ atencion.año }}</p>
    </div>
{% endfor %}
</section>
{% endblock content %}