{% extends "base.html" %}

{% load static %}

    
{% block content %}
  <form action="" method="post">
    <article class="d-flex justify-content-center align-items-center ">
      <div class="log rounded-5">
        <div class="d-flex justify-content-center">
          <img src="https://media.istockphoto.com/id/1200064810/vector/user-profile-login-or-access-authentication-icon-button-people-account-sign-in-logo-sign.jpg?s=170667a&w=0&k=20&c=O-JtGX3Joqxy9tJfwQVznmu6j85yhQdd-kZ3sb2BEqM=" alt="login-icon" style="height: 7rem;">
        </div>
        <div class="text-center fs-3 ">
          Inicio de sesión
        </div>
        <br>
        <br>
        {% csrf_token %}
        <ul>{{ form }}</ul>
        
        <div>
          <a href="">¿Olvidaste tu contraseña?</a>
        </div>
        <button type="submit" class="centrado">Iniciar</button>
      </div>
    </article>
  </form>
    

{% endblock %}
  