{% extends "base.html" %}
{% load static %}
{% block content %}
  <table class="recuadro">
    <div class="container my-3 borde centro">
      <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
          <h2>Escriba su mensaje</h2>
          <form>
            <div class="mb-3">
              <label for="userInput" class="form-label">Correo electronico</label>
              <input type="email" class="form-control" id="userInput" placeholder="correo@ejemplo.com">
            </div>
            <div class="mb-3">
              <label for="descripcion" class="form-label">Mensaje al profesional</label>
              <textarea class="form-control" id="descripcion" rows="3"></textarea>
            </div>
            <button type="button" class="btn btn-secondary">Enviar</button>
          </form>
        </div>
      </div>
    </div>
  </table>
{% endblock content %}