{% extends "base.html" %}
{% load static %}
{% block content %}
  <div class="container-form">
    <div class="info-form">
      <h2> Contáctanos </h2>
      <p>Ante cualquier duda o solicitud, contactanos a través de nuestros canales de atención, te responderemos a la
        brevedad.</p>
      <a href=""><i class="fa fa-phone">
        </i>+56912345678</a>
      <br>
      <a href=""><i class="fa fa-envelope">
        </i>email@ejemplo.cl</a>
    </div>
    <form action="#" autocomplete="off">
      <input type="text" name="Nombre" placeholder="Ingrese su nombre" class="campo">
      <input type="email" name="email" placeholder="Ingrese su correo electrónico" class="campo">
      <textarea name="mensaje" placeholder="Ingrese su mensaje"></textarea>
      <input type="submit" name="enviar" value="Enviar mensaje" class="btn-enviar">
    </form>
  </div>
{% endblock content %}
