{% extends "base.html" %}
{% load static %}
{% block content %}
<h1 class="centrado">Nuestros Trabajadores</h1>

<div class="card-group">
  <div class="card">
    <img src="./assets/img/mecanico.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Mecanico Automotriz</h5>
      <p class="card-text">Son capaces de realizar cualquier tipo de mantenimientos preventivos a los autos, que
        llegan al taller estos pueden ser servicios básicos como, alineación, balanceo, cambio de aceite, afinación,
        rectificación de discos, rectificación de niveles de líquidos y aceites, entre otros.</p>
      <p class="card-text"><small class="text-body-secondary">Ultima actualización hace 3 dias</small></p>
    </div>
  </div>
  <div class="card">
    <img src="./assets/img/electrico.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Mecanico Electrico</h5>
      <p class="card-text">El personal encargado de analizar, diagnosticar y reparar todas las fallas automotrices
        relacionadas con problemas eléctricos, ya sea desde una falla por corto en un arnés, fallas en sensores,
        problemas de encendido por marcha, etc.</p>
      <p class="card-text"><small class="text-body-secondary">Ultima actualización hace 3 días</small></p>
    </div>
  </div>
  <div class="card">
    <img src="./assets/img/ayudante.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Asistente de meecanico</h5>
      <p class="card-text">Su función consiste en agilizar el trabajo de los mecánicos además de encargarse de
        desarmar y armar ciertas partes de los carros, liberando tiempo de los mecánicos el cual se puede emplear en
        que estos puedan diagnosticar y arreglar una mayor cantidad de autos por día.</p>
      <p class="card-text"><small class="text-body-secondary">Ultima actualización hace 3 días</small></p>
    </div>
  </div>
</div>
{% endblock content %}