{% extends "base.html" %}
{% load static %}
{% block content %}
<h1 class="text-center">Servicios</h1>
<div class="container">
  <div class="card">
    <img src="">
    <h4>Arreglo de Motor</h4>
    <p>El mantenimiento preventivo automotriz consta de una serie de revisiones que se efectúan en un tiempo
      determinado para disminuir las probabilidades de fallas que amerite una reparación costosa del vehículo.</p>
    <a href="{% url 'formulario' %}">Consulta</a>
  </div>
  <div class="card">
    <img src="">
    <h4>Cajas de cambio</h4>
    <p> el mantenimiento de las cajas de cambio automáticas se basa en el cambio de este aceite. Normalmente, los
      fabricantes indican que hay que cambiarlo cada 100.000 km aprox.</p>
    <a href="{% url 'formulario' %}">Consulta</a>
  </div>
  <div class="card">
    <img src="">
    <h4>Cambio de inyectores</h4>
    <p>La limpieza de inyectores sirve para eliminar el exceso de impurezas que se acumula en los cilindros del motor
      y evitar que traspasen el filtro de combustible.</p>
    <a href="{% url 'formulario' %}">Consulta</a>
  </div>

</div>
<br>
<br>
{% endblock content %}